!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
!lib/patches/*.tgz
.apt_generated
.cache
.cache/
.classpath
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.eslintcache
.factorypath
.fusebox/
.gradle
.grunt
.idea
.kotlin
.lock-wscript
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.project
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.settings
.springBeans
.sts4-cache
.stylelintcache
.temp
.tern-port
.vercel
.vscode-test
.vscode/
.vuepress/dist
.yarn-integrity
.yarn/*
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.iml
*.ipr
*.iws
*.lcov
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
**/resources/application.yml
/.nb-gradle/
/.next/
/.pnp
/build
/coverage
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
**/node_modules
/out/
bin/
bower_components
build/
build/Release
coverage
dist
HELP.md
lerna-debug.log*
lib-cov
logs
next-env.d.ts
npm-debug.log*
out/
pids
public/sw*
public/swe-worker*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*
